.image {
    width: 30%;
    /* margin-top: 2rem; */
}

.table {
    width: 90%;
}


@media (min-width: 1200px) {
    
}

@media (max-width: 1199px) and (min-width: 992px) {
    
}

@media (max-width: 991px) and (min-width: 768px) {
    .image {
        width: 40%;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .image {
        width: 60%;
    }
}

@media (max-width: 575px) and (min-width: 0px) {
    .image {
        width: 70%;
    }
}